<md-dialog layout-padding>
	<form name='addAttendeeForm'>
		<div layout='row'>
			<md-input-container>
				<label>First Name</label>
				<input required ng-model='attendee.first'>
			</md-input-container>
			<md-input-container>
				<label>Last Name</label>
				<input required ng-model='attendee.last'>
			</md-input-container>
		</div>
		<md-input-container>
			<label>Access</label>
			<input ng-model='attendee.access'>
		</md-input-container>
		<div layout='row'>
			<md-button flex ng-click='cancel()'>Cancel</md-button>
			<md-button flex class='md-raised md-primary' ng-click='addAttendee(attendee)'>Add Attendee</md-button>
		</div>
	</form>
</md-dialog>