doctype html
html
	head
		title SUITS Management

		meta(charset='utf-8', name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")

		//AngularJS
		script(src='https://code.angularjs.org/1.5.5/angular.min.js')
		script(src='https://code.angularjs.org/1.5.5/angular-animate.min.js')
		script(src='https://code.angularjs.org/1.5.5/angular-aria.min.js')

		//Firebase
		script(src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
		script(src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js")

		//Material
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.css')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.js")
		script(src='/static/js/mainApp.js')
		script(src='/static/js/controllers.js')
		script(src='/static/js/services.js')

		style.
			md-tabs.noTabPanel md-tabs-wrapper {
				display: none !important;
			}
	body(ng-app='main', layout='column')

		md-toolbar.md-whiteframe-2dp(style="min-height: 0px")
			md-tabs(md-selected='currentTab')
				md-tab#users Attendance
				md-tab#analytics Report

		md-content(flex)
			md-tabs.noTabPanel(md-stretch-tabs='always', md-dynamic-height, md-selected='currentTab')
				md-tab(label='Attendance')
					div(ng-include="'components/attendance.html'", ng-controller='viewUsers')
				md-tab(label='Report')
					div(ng-include="'components/report.html'" ng-controller='reportController')
