<style>
	.centeredInput{
		max-width: 30%;
		display: flex;
		margin: auto;
		margin-top: 1em;
	}
</style>
<md-content flex layout-padding>
	<md-input-container layout-align='center' class='centeredInput'>
		<label>Search</label>
		<input ng-model='nameFilter'>
	</md-input-container>
	<md-progress-circular  md-mode='indeterminate' ng-show='isLoading' style='margin: auto'></md-progress-circular>
	<md-list layout='column'>
		<md-list-item class='md-2-line md-clickable' md-ink-ripple ng-repeat='user in users | filter:nameFilter | limitTo:10' layout='row' ng-click='showDialog($event, user)'>
			<div class='md-list-item-text' layout='column'>
				<h3>{{user.first | capitalize}} {{user.last | capitalize}}</h3>
				<p>{{user.access}}</p>
			</div>
			<md-checkbox ng-class='(user.boughtBBQ || user.drinks > 0)? "md-checked":""' class='md-secondatry'>
		<md-divider></md-divider>
		</md-list-item>
	</md-list>
</md-content>