style.
	.attendees-list-container{
		max-width: 500px;
		margin: auto;
	}
	.attendees-list{
		max-height : 65vh;
		overflow: auto;
	}
	.bbq-container{
		display: inline-flex;
		align-items: center;
	}
	.bbq-check{
		padding-left: 0.1em;
	}
	md-content{
		background-color: #f5f5f5;
	}
md-content(flex, layout-padding)
	div(layout="row", layout-align="space-around center")
		label Total Attendees: {{getAttendees().all().length}}
		label Access: {{getAttendees().access().length}}
		label Non-Access: {{getAttendees().nonAccess().length}}
	div.attendees-list-container(layout="row", layout-align="center center", flex)
		md-card(flex)
			md-card-title(layout="row", layout-align="center center")
				md-card-title-text
					span.md-headline Attendees
					span(flex)
				span(flex)
				md-card-title-text
					span.md-subhead(layout="column")
							label Total BBQ: {{totalBBQ()}}
							label Total Drinks: {{totalDrinks()}}
			md-divider
			md-card-content.attendees-list(layout="column")
				md-list(layout="column")
					md-list-item.md-2-line(ng-repeat="attendee in getAttendees().all()", layout="row")
						div.md-list-item-text(layout="column")
							h3 {{attendee.access}}
							p {{attendee.first | capitalize}} {{attendee.last | capitalize}}
						span(flex)
						div.md-list-item-text
							div.bbq-container
								h3 BBQ: 
								md-icon.bbq-check(md-svg-icon="check" ng-if="attendee.boughtBBQ")
							p Drinks: {{attendee.drinks}}
						md-divider
			md-divider
			md-card-actions(layout="row" layout-align="end center")
				md-button.md-icon-button(ng-click="downloadAttendeesCsv()")
					md-icon(md-svg-icon="file-excel-box")
				md-button.md-icon-button(ng-click="downloadAttendeesJson()")
					md-icon(md-svg-icon="json")
				span(flex)
				md-button.md-icon-button(ng-click="uploadAttendees()")
					md-icon(md-svg-icon="upload")
